# Dependencies
**/node_modules
**/.pnp
**/.pnp.js

# Testing
**/coverage

# Production
**/build
**/dist

# Misc
**/.DS_Store
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.cursorignore

# Debug logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Editor directories and files
**/.idea/
**/.vscode/
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# Temporary files
**/*.tmp
**/*.temp
**/.cache/

# Compiled output
**/*.min.js
**/*.min.css

# Local environment variables
**/.env*.local

# Environment configuration files
**/production.env
**/examples.env
**/.env.example

# TypeScript
**/*.tsbuildinfo

# Optional npm cache directory
**/.npm

# Optional eslint cache
**/.eslintcache

# Optional stylelint cache
**/.stylelintcache

# Yarn Integrity file
**/.yarn-integrity

# Logs
**/logs
**/*.log

# Backup files
**/*.bak
**/*~

# MongoDB data directory
**/data/db

# Redis dump file
**/dump.rdb

# Blockchain local development
**/.chaindata

# Cache files
**/node_modules/.cache/
**/.cache/ 